body {
    font-family: 'Advent Pro', sans-serif;
    background-color: #EAE4E4;
    font-size: 1.5rem;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
header {
    display: flex;
    flex-direction: row;
    height: 150px; 
    position: relative;
}
main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    border-style: solid;
    border-width: thick;
    border-color: darkorchid;
}

section {
    margin: 0 auto;
}

.clear-fix {
    clear: both;
}





.logo { 
   /*  border-style: solid;
    border-width: thick;
    border-color: yellow; */
    color: crimson;
    height: auto;
    width: 30%;
    flex: 1;
}

h2, h5{
    padding: 2% 0 0 4%;
    text-align: center;
}

h2{
    margin: 0 auto;
    font-weight: bold;
}



nav {
    /* border-style: solid;
    border-color: greenyellow; */
    flex: 2;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 150px;
    line-height: 80px;
  }
  * {box-sizing: border-box;}
  
  li {
    float: left;
    padding: 1em;
    /* border-style: solid;
    border-color: red; */
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 0;
    text-decoration: none;
  }
  
  li:hover{
    background-color: #ddd;
  }
  
  

.photo{
    flex: 1;
    /* border-style: solid;
    border-width: thick; */
    width: auto;
    height: 100%;
    border-color: red;
    margin-left: 2.5%;
}
.photo img{
    width: 100%;
    border-radius: 6px;
}

.text {
    flex: 2;
    width: 50%;
    height: 100%;
    color: red;
    border-style: solid;
    border-width: thick;
    border-color: aqua;
    margin-left: 5%;
    margin-right: 5%;
}

.hello {
    border-style: solid;
    border-width: thick;
    border-color: darkgoldenrod;
}

.circles {
    border-style: solid;
    border-width: thick;
    border-color: hotpink;
}

.bla {
    border-style: solid;
    border-width: thick;
    border-color: blueviolet;
}